{% extends 'base.html.twig' %}

{% block title %}{{ ship.name }}{% endblock %}

{% block body %}
    <a href="{{ path('app_homepage') }}" class="text-xs text-gray-400"><-Back</a>
    <h1>{{ ship.name }}</h1>
    <table>
        <tr>
            <th>Class</th>
            <td>{{ ship.class }}</td>
        </tr>
        <tr>
            <th>Captain</th>
            <td>{{ ship.captain }}</td>
        </tr>
    </table>
{% endblock %}