{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} My title{% endblock %}

{% block body %}
<h1>Hi from twig</h1>
<p>We have {{ ships|length }} starships</p>
{% if ships|length > 2 %}
    {# Comment #}
    <p>We have a lot of them</p>
{% endif %}
<div>
    <h2>My ship</h2>
    <table>
        <tr>
            <th>Name</th>
            <td>
                <a href="{{ path('app_starship_show', { id: myShip.id}) }}">
                    {{ myShip.name }}
                </a>
            </td>
        </tr>
        <tr>
            <th>Class</th>
            <td>{{ myShip.class }}</td>
        </tr>
        <tr>
            <th>Captain</th>
            <td>{{ myShip.captain|upper }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ myShip.status }}</td>
        </tr>
    </table>
</div>
{% endblock %}